@import 'reset.css';

html,
body {
	background-color: #b87333;
	color: #fff;
	width: 100%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.container {
		width: calc(100% - 46px);
		margin-left: 23px;
		margin-right: 23px;
	}
}

.wrapper {
	text-align: center;
}

.wrapper:first-child {
	margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
	.wrapper:first-child {
		margin-bottom: 40px;
	}
}

h1 {
	font-size: 30px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.numbers-container,
.numbers-inner-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.numbers-container {
		flex-direction: column;
	}

	.numbers-inner-container:first-child {
		margin-bottom: 10px;
	}
}

.single-number {
	width: 90px;
	height: 90px;
	font-size: 30px;
	line-height: 1;
	color: #565b5d;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../../images/objects/ball.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 413px) {
	.single-number {
		width: 50px;
		height: 50px;
		font-size: 18px;
		margin-left: 2.5px;
		margin-right: 2.5px;
	}
}

@media screen and (min-width: 414px) and (max-width: 767px) {
	.single-number {
		width: 60px;
		height: 60px;
		font-size: 20px;
	}
}

.single-number.star-number {
	color: #fff;
	background-image: url('../../images/objects/star.svg');
}

.single-number.sup-number {
	color: #fff;
	background-image: url('../../images/objects/ball-sup.svg');
}

.btn-generate {
	background-color: #565b5d;
	color: #fff;
	padding: 14px 24px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	border: 0;
	border-radius: 4px;
	margin-top: 40px;
	cursor: pointer;
	transition: all ease 400ms;
	outline: 0;
}

@media screen and (max-width: 767px) {
	.btn-generate {
		margin-top: 20px;
	}
}

@media screen and (min-width: 1025px) {
	.btn-generate:hover {
		background-color: #3d5361;
		transition: all ease 400ms;
	}
}